@charset "utf-8";

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    margin: 0 auto;
    min-width: 720px;
    max-width: 1200px;
}

#marca {
    width: 100%;
    height: 200px;
    text-align: center;
    background: #225992 url(imagens/cabecalho2.jpg) no-repeat right center;
}

#conteudo {
    width: 75%;
    float: right;
}

#cont-princ {
    width: 55%;
    float: left;
}
#cont-princ img {
    padding: 0 10px;
    width: 100%;
}

#cont-secun {
    padding: 0 20px;
    width: 35%;
    float: right;
    background: wheat;
}

#navegacao {
    padding: 20px 0;
    width: 23%;
    float: left;
    background: cornflowerblue;
}
#navegacao ul {
    list-style: none;
}
#navegacao li a {
    text-decoration: none;
}

#rodape {
    padding: 5px;
    background: saddlebrown;
}

.clear {
    clear: both;
}