@charset "utf-8";

ul {
    margin: 0;
    padding: 0;
    width: 720px;
    float: left;
    list-style: none;
    background: #159cb0 url(imagens/fundo-horizontal.png) repeat-x;
}

ul li {
    float: left;
}

ul a {
    padding: 0 2em;
    line-height: 2em;
    display: block;
    text-decoration: none;
    color: #fff;
    background: url(imagens/divisor.png) no-repeat right;
}

ul a:hover, .pag-atual {
    color: #085662;
    background: #44cade;
}

.sem-divisor {
    background: none;
}