@charset "utf-8";

* { color: blue; }

h1 { color: orange  } /* #3 */
h1.verde { color: green; } /* #2 */
h1#amarelo { color: darkgoldenrod; } /* #1 */

.pagina p { color: darkred !important; }
.pagina p { color: darkgoldenrod }