@charset "utf-8";

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul a {
    margin-bottom: 1px;
    width: 200px;
    display: block;
    line-height: 40px;
    color: black;
    text-indent: 32px;
    text-decoration: none;
    background: #f7b600 url(imagens/menu.png) no-repeat left center;
}

ul a:hover, .pag-atual a {
    color: #fff;
    background-position: right;
    background-color: #f99200;
}