@charset "utf-8";

#conteiner {
    position: relative;
    padding: 1px;
    width: 242px;
    height: 30px;
    border: 1px solid #8f82e4;
}

.botao {
    position: absolute;
    width: 80px;
    height: 30px;
    line-height: 30px;
    z-index: 1;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #8f82e4;
}

.posi-um {
    left: 1px;
}

.posi-dois {
    left: 82px;
}

.posi-tres {
    right: 1px;
}

.botao:hover {
    width: 100px;
    transition: 1s;
    z-index: 4;
    background-color: #5346aa;
}

.posi-dois:hover {
    left: 72px;
}