@charset "utf-8";

header {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
}

nav {
    padding: 10px;
    border: 1px solid #0f0;
    background-color: #f2f2f2;
}

footer {
    background-color: paleturquoise;
}