@charset "utf-8";

h1 { text-align: center; }

#conteudo {
    margin: 0 auto;
    padding: 10px;
    /* width: 714px; */
    height: 408px;
    background: #dcdcdc;

    display: flex;

    /* Direção da linha/coluna: row | row-reverse | column | column-reserve */
    /* flex-direction: row; */

    /* Quebra de linha: nowrap | wrap | wrap-reverse */
    /* flex-wrap: wrap; */

    /* Alinhamento Horizontal: flex-start | flex-end | center | space-between | space-around | space-evenly */
    /* justify-content: flex-start; */

    /* Alinhamento Vertical: stretch | center | flex-start | flex-end | beseline */
    /* align-items: flex-start; */
}

.item {
    width: 100px;
    height: 100px;
    line-height: 100px;
    flex-grow: 0;
    text-align: center;
    border: 1px solid darkslateblue;
    background: #fff;
}

.grow1 { flex-grow: 1; }
.grow2 { flex-grow: 2; }

.shrink1 { flex-shrink: 1; }
.shrink8 { flex-shrink: 8; }

.ordem { order: -1; }
.ordem1 { order: 1; }
.ordem2 { order: 2; }
.ordem3 { order: 3; }
.ordem4 { order: 4; }