@charset "utf-8";

/* Animações */
@keyframes animacao_caixa {
    from {
        border-radius: 0;
        background: green;
    }
    
    to {
        border-radius: 100%;
        background: yellow;
    }
}


/* Objetos */
#caixa {
    width: 300px;
    height: 300px;
    animation-name: animacao_caixa;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    background: green;
}