@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.conteudo {
    margin: 20px;
    padding: 20px;
    border: 1px solid steelblue;
}

h1, p {
    margin: 10px 0;
    border: 1px solid steelblue;
}