@charset "utf-8";

body {
    background: #007fc7;
}

#container {
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    background: #fff;
}

h1, p {
    width: 300px;
}

.posi-static {
    position: static;
}

.posi-relative {
    position: relative;
    top: 0;
    left: 20%;
    border: 1px solid slateblue;
}