@charset "utf-8";

body {
    background: #007fc7;
}

#container {
    position: relative;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    background: #fff;
}

body, h1, p {
    margin: 0;
}

p {
    width: 300px;
}

.posi-absolute {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(255, 230, 185);
}

.posi-fixed {
    position: fixed;
    right: 0;
    background: rgb(169, 156, 255);
}